<div class="page-header">
  <%= link_to new_needed_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Neeeded
  <% end %>
  <h1>Listing neededs</h1>

  <%= link_to 'Destroy all', action: 'destroy_all' %>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Number</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @neededs) do |needed| %>
            <td><%= needed.number %></td>
            <td><%= link_to 'Show', needed %></td>
        <td><%= link_to 'Edit', edit_needed_path(needed) %></td>
        <td><%= link_to 'Destroy', needed, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
