<div class="page-header">
  <%= link_to new_repited_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Repited
  <% end %>
  <h1>Repetidas</h1>
  
  <%= link_to 'Destroy all', action: 'destroy_all' %>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Number</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @repiteds) do |repited| %>
            <td><%= repited.number %></td>
            <td><%= link_to 'Show', repited %></td>
        <td><%= link_to 'Edit', edit_repited_path(repited) %></td>
        <td><%= link_to 'Destroy', repited, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
